.meme-generator {
    padding-top: 7%;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .meme-generator img {
    height: 500px;
    object-fit: cover;
    width: 600px;
  }
  
  .meme-generator .generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    margin: 24px 0;
    font-size: 30px;
    color: red;
    background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%,
    rgba(0,0,0,0.8) 60%, 
    rgba(0,0,0,1) 90%), 
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
    cursor: pointer;
    transition: all 400ms ease;
  }
  
  .meme-generator .generate-meme-btn:hover {
    padding: 8px 36px;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 3px;
  }
  
  .meme-generator .meme-author {
    margin: 8px;
  }
  .meme-title{
    font-size:35px ;
    color:white;
  }
  